@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hoverColor: hsl(75, 94%, 57%);
  --bxColor: hsl(0, 0%, 20%);
  --bgColor: hsl(0, 0%, 8%);
  --btnColor: hsl(0, 0%, 12%);
  --fontColor: hsl(0, 0%, 100%);
  --fontSize: 14px;
  --fontWeigth: 400, 600, 700;
}

body {
  min-height: 100svh;
  font-family: inter, outfit, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
  color: var(--fontColor);
}

.container {
  min-width: 20rem;
  height: auto;
  text-align: center;
  background-color: var(--btnColor);
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
}

div > img {
  max-width: 5rem;
  border-radius: 50%;
}

h2 {
  font-weight: var(--fontWeigth);
  padding-top: 1rem;
}

.location {
  /* font-size: var(--fontSize); */
  color: var(--hoverColor);
  padding: 0.5rem 0rem 1.5rem;
}


.site {
  --fontColor: #ccc;
  font-size: var(--fontSize);
  color: var(--fontColor);
}

a {
  height: 2.5rem;
  background-color: var(--bxColor);
  margin: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--fontColor);
  text-decoration: none;
  font-size: var(--fontSize);
}

a:hover {
  color: var(--btnColor);
  background-color: var(--hoverColor);
  font-weight: 600;
}

@media screen and (max-width: 30rem) {
  body {
    padding: 1rem;
  }

  .container {
    width: 100%;
    margin: -1rem;
  }
}
